.input-component-container{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0 ;
    padding: 0.5rem;
    min-width: max-content;
}
.input-component-label{
    position: absolute;
    top: -0.5rem;
    left: 0.5rem;
    font-size: 0.8rem;
    color: var(--progress-bar);
    background-color: var(--background);
    padding: 0.2rem;
    border-radius: 0.5rem
}